<div class="page-wrapper">
    <div class="container-fluid">
      <div class="row mt-5">
        <div class="col"></div>
        <div class="col-4">
          <div class="card shadow">
            <div class="card-body">
              <!-- Site Logo -->
              <div class="logo-container text-center mb-4">
                <img src="assets/img/images.png" class="site-logo" />
              </div>
              <form>
               
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email</label>
                  <input
                    type="email"
                    class="form-control"
                    id="exampleInputEmail1"
                    name="email"
                    [(ngModel)]="email"
                    placeholder="Enter your email"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="exampleInputPassword1"
                    name="password"
                    [(ngModel)]="password"
                    placeholder="Enter your password"
                    required
                  />
                </div>
                <button
                  type="submit"
                  class="btn btn-primary w-100 mb-3"
                  [disabled]="!email || !password"
                  (click)="login()"
                >
                  Login
                </button>
                <div class="row mb-3">
                  <div class="col-md-6 text-center">
                    <a routerLink="/register" class="link">Need Account? <span class="text-danger">Register</span></a>
                  </div>
                  <div class="col-md-6 text-center">
                    <a routerLink="/forgot-password" class="link">Forgot Password?</a>
                  </div>
                </div>
                <div class="row">
                  <a (click)="signInWithGoogle()" class="google-btn">
                    <div class="card shadow text-center google-card">
                      <div class="card-body">
                        <img src="assets/img/google.png" alt="Google Logo" class="google-logo" />
                        Sign In with Google
                      </div>
                    </div>
                  </a>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </div>