.admin-container {
    padding: 20px;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}



.card-body {
    display: flex;
    flex-direction: column;
}

.card-text {
    flex-grow: 1;
    margin-bottom: 15px;
}

.btn {
    align-self: flex-start;
    margin-top: auto;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}