<div class="map-container">
    <img src="assets/img/map3.png" alt="Carte des niveaux" class="map-background" />
  
    <!-- Niveau 1 -->
    <button class="level-btn" style="top: 70%; left: 60%;" data-level="1">
      Level 1
    </button>
  
    <!-- Niveau 2 -->
    <button class="level-btn" style="top: 50%; left: 55%;" data-level="2">
      Level 2
    </button>
  
    <!-- Niveau 3 -->
    <button class="level-btn" style="top: 85%; left: 50%;" data-level="3">
      Level 3
    </button>
  
    <!-- Niveau 4 -->
    <button class="level-btn" style="top: 60%; left: 45%;" data-level="4">
      Level 4
    </button>
  
    <!-- Niveau 5 -->
    <button class="level-btn" style="top: 42%; left: 32%;" data-level="1">
      Level 1
    </button>
  </div>
  